h1 {
    text-align: center;
    font-size: 80px;
    text-decoration: underline;
    color: #03CEA4;
    margin: 20px;
}

.door {
    height: 300px;
    width: 300px;
}

div {
    display: inline-block;
    padding: 30px;
    margin: 45px;
    margin-left: 170px;
}

.center-doors {
    text-align: center;
}

img {
    margin: 15px;
}

#center {
    text-align: center;
    font-size: 50px;
}

body {
    background: black;
}

h5 {
    font-size: 40px;
    text-align: center;
    margin: 20px;
    line-height: 70px;
}

h4 {
    color: pink;
    font-size: 50px;
    text-align: center;
    margin: 50px;
    line-height: 70px;
}

#twin-margin {
    margin: 20px;
}

.aqua:hover {
    color: #2EC4B6;
}

.ruby-red {
    color: #9a031E;
}

.blue {
    color: #9cc4b2;
}

.tea-green {
    color: #ccf5ac;
}

.purple {
    color: #7e2e84;
}

.light-yellow {
    color: #f5dd90;
}

.peach {
    color: #ffbfa0;
}

.raspberry {
    color: #c33139;
}

.light-green {
    color: #d4dccd;
}

.pink {
    color: #FFC4D1;
}

.white {
    color: #FFFFFF;
}

.celeste {
    color: #c5fffd;
}

.gray {
    color: #8b8bae;
}

.mustard {
    color: #EAC435;
}

.violet {
    color: #E086D3;
}

.light-blue {
    color: #A4DEF9;
}