h1 {
    text-align: center;
    font-size: 80px;
    text-decoration: underline;
    color: #03CEA4;
    margin: 20px;
}

.door {
    height: 300px;
    width: 300px;
}

div {
    display: inline-block;
    padding: 30px;
    margin: 45px;
    margin-left: 165px;
}

.width {
    width: 33;
}

.center-doors {
    text-align: center;
}

img {
    margin: 15px;
}

#center {
    text-align: center;
    font-size: 50px;
}

body {
    background: black;
}

h5 {
    font-size: 40px;
    text-align: center;
    margin: 20px;
    line-height: 70px;
}

h4 {
    color: pink;
    font-size: 50px;
    text-align: center;
    margin: 50px;
    line-height: 70px;
}

#twin-margin {
    margin: 20px;
    margin-bottom: ;
}


/*#center-div {*/
/*    margin: auto 100px;*/
/*}*/